name: ci

on:
  push:
    branches:
      - master

permissions:
  contents: read
  packages: write

concurrency:
  group: 'ci'
  cancel-in-progress: false

jobs:
  client:
    outputs:
      version: ${{ fromJSON(steps.meta.outputs.json).labels['org.opencontainers.image.version'] }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
        with:
          version: 10
      - uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: 'pnpm'
          cache-dependency-path: pnpm-lock.yaml
      - name: Install
        run: pnpm install
      - name: Build
        run: pnpm build
      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - id: meta
        uses: docker/metadata-action@v5
        with:
          images: ghcr.io/${{ github.repository }}
      - uses: docker/build-push-action@v6
        env:
          DOCKER_BUILD_SUMMARY: false
        with:
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}

  deploy:
    if: vars.DEPLOYMENT_URL
    environment: 
      name: production
      url: ${{ vars.DEPLOYMENT_URL }}
    needs: [client]
    runs-on: ubuntu-latest
    steps:
      - name: Deploy
        run: curl -f -s "${{ secrets.DEPLOYER_URL }}&client=${{ needs.client.outputs.version }}"
